<h1>About Us</h1>
<%= image_tag("http://www.sarahmoran.com.au/wp-content/uploads/2012/01/sarah-the-scream.jpg", :width => 200) %>
<p>Contact:</p>

<p>You can talk to me on Twitter <a href="http://twitter.com/sarahmoran">@sarahmoran</a> or email sarahmoran1@gmail.com.
<br />
You can also pick up the phone and if I can hear your smile I’ll happily talk to you +61 430 380 180.</p>
